.board {
	width: 1150px;
	height: 640px;
	margin: 0 auto 150px auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, 1fr);
	background-color: rgba(245, 245, 245, 0.582);
	border-radius: 10px;
}

#item {
	position: relative;
}

.door,
.character {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 280px;
	align-content: center;
	margin: auto;
}

.door {
	z-index: 1;
	transform-origin: left;
	transition: all 0.5s ease-in-out;
}

.doorOpen {
	transform: perspective(3000px) translateZ(0px) translateX(-50%)
		translateY(-50%) rotateY(-85deg);
}
